*{
    margin: 0;
    padding: 0;

}
body {
    font-family: "Volkhov", serif;
  }
.with{
    width: 100%;
    height: 25px;
    background-color: #40A8E4;
    display: flex;  
    justify-content: center; 
    align-items: center; 
}
.hit{
    width: 30%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.bit{
width: 70%;
font-size: 12px;
color: white;
display: flex;
justify-content: end;
align-items:center;
gap: 10px;
}
.family{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.husband img{
    width: 40%;
    height: 100px;
}
.husband{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}
.icons:hover{
    color:black;
}
li a {
    text-decoration: none;
}
ul li{
    list-style: none;
}
ul{
    width: 100%;
    height: 80px;
    font-size: 16px;
    font-weight: 700px;
    color: #BCB5B5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.teacher{
    width: 100%;
    height: 500px;
    background-color: #22689E;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student{
    width: 62%;
    height: 100%;
}
.student img{
    width: 90%;
    height: 500px;
}
.te{
    width: 50%;
    height: 70%;
}
.h1{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.st{
    width: 100%;
    height: 40%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dad{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.papa{
    width: 25%;
    height: 42%;
    background-color: #379CD6;
    position: absolute;
    top: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.daug{
   width: 70%;
   height: 80%;
   color: #FFFFFF;
}
.person{
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.neu{
    width: 100%;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dol{
    width: 100%;
    height: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moon{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    width: 80%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.glass{
    width: 100%;
    height: 80%;
}
.glass img{
    width: 90%;
    height: 75%;
}

.h6{
    font-size: 17px;
}
.dob{
    font-size: 15px;
    color: #ACACAC;
}
.plutus{
    width: 90%;
    height: 20%;
    color:#989898;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intel{
    width: 100%;
    height: 250px;
    background-color:#2388C2 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.core{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.geforce{
    width: 90%;
    height: 80%;
}
.inside{
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}
.dia{
    width: 100%;
    height: 60%;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i5{
    width: 70%;
    height: 50%;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i4{
    width: 50%;
    height: 15%;
    font-size: 15px;
    color: #FFFFFF;
}
.i1{
    width: 100%;
    height: 15%;
    font-size: 15px;
    color: #FFFFFF; 
}
.i3{
    width: 70%;
    height: 70%;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.i2{
    width: 60%;
    height: 20%;
    color: #FFFFFF;
    font-size: 17px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.one{
    width: 100%;
    height: 30px;
    background-color: #2183B8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    width: 100%;
    height: 70%;
}
.three{
    width: 40%;
    height: 40%;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.four{
    width: 100%;
    height: 40%;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 50px;
}